.selectbox_container{
    overflow-x: hidden;
    border: 1px solid Gainsboro;
    border-radius:5px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: scroll;
}

.selectbox{
    padding: 5px;
    border-spacing: 0px;
    table-layout: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: Gainsboro;
    display: inline-block;
    border-radius: 5px;
}

.selectbox table{
    width: 100%;
    border-spacing: 0px;
}

.selected_item{
    background-color: Gainsboro;
}

.selectbox td{
    white-space:  nowrap;
    text-overflow:ellipsis;
}

.selectbox th{
    text-align: left;
    font-size: 14px;
}

.selectbox tbody tr:hover{
    cursor: pointer;
}

.selectbox thead tr{
    font-weight: bold;
}

/*WIDTH EXAMPLES*/
/*.selectbox td:nth-child(1), #headings td:nth-child(1){*/
/*    width: 100px;*/
/*    max-width: 100px;*/
/*}*/

/*.selectbox td:nth-child(2), #headings td:nth-child(2){*/
/*    width: 200px;*/
/*    max-width: 200px;*/
/*}*/

/*.selectbox td:nth-child(3){*/
/*    display: none;*/
/*}*/
